{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container" id="body1">
    <div class="row">
        <ul>
            <a class="btn btn-primary cat_btn" href="{{url_for('cats.category')}}">Add Category</a>
        </ul>
        
    </div>
    <div class="row">
        {% for category in categories %}

        <div class="col-md-3">

                 <h4 > <a class="cats" href="/pitch/{{category.id}}">{{category.category}}</a></h4>

                 <a class="ratings btn btn-primary" href="/pitch/new/{{category.id}}">Add Your Pitch</a>

        </div>

        {% endfor %}   

    </div>

</div>
  

    <div class="container body1" id="body2">
        <div class="row">   
            <ul>
                <a class="ratings btn btn-primary back_btn" href="/">Go Back</a>
            </ul>
        </div>
        <div class="row text-center">
            <h4 class="p_title">Enjoy {{title}}</h4>

            </div>
            <div class="row">
                
            {% for pitch in pitches %}
    
        <div class="col-md-4">
              
          <div>
            <h5>{{pitch.pitch}}</h5>
          </div>
        </div>
    
        {% endfor %}
        </div>

    </div>
   
{% endblock %}

