{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container" id="body1">
    <div class="row">
        <ul>
            <a class="btn btn-primary" id="cat_btn" href="{{url_for('cats.category')}}">Add Category</a>
        </ul>
        
    </div>
    <div class="row">
        {% for category in categories %}

        <div class="col-md-3">

                 <h4 id="cats">{{category.category}}</h4>

        </div>

        {% endfor %}   

    </div>

</div>
{% endblock %}